.app-title, .app-subtitle, .byline {
    position: relative;
}

.byline {
    font-family: 'Lora', serif;
}

.app-title, .app-subtitle {
    font-family: 'Uncial Antiqua', sans-serif;
    width: fit-content;
    margin: auto;
}

.app-subtitle {
    font-weight: lighter;
}

.title-backing {
    position: relative;
    top: 6.67vh;
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #00899B;
    border: 0.3em ridge black;
    padding: 0.1em;
    margin: auto;
}

.terrarium{
    position: relative;
    size: fit-content;
    font-family: 'Lora', serif;
    font-size: 24px;
    top: 9.75vh;
}

.tarrasque {
    margin: auto;
    max-width: 512px;
    max-height: 512px;
    min-width: 32px;
    min-height: 32px;
    width: 50vw;
}